<h1>Merchant Dashboard</h1>

<ul>
  <li>Merchant Name: <%= @merchant_employee.merchant.name %></li>
  <li>Address: <%= @merchant_employee.merchant.address %></li>
  <li>City: <%= @merchant_employee.merchant.city %></li>
  <li>State: <%= @merchant_employee.merchant.state %></li>
  <li>Zip: <%= @merchant_employee.merchant.zip %></li>
</ul>
