<h1>Merchant Dashboard</h1>

<ul>
  <li>Merchant Name: <%= @merchant_employee.merchant.name %></li>
  <li>Address: <%= @merchant_employee.merchant.address %></li>
  <li>City: <%= @merchant_employee.merchant.city %></li>
  <li>State: <%= @merchant_employee.merchant.state %></li>
  <li>Zip: <%= @merchant_employee.merchant.zip %></li>
</ul>

<p> <%= link_to "Merchant Items", "/merchant/items" %></p>

<h3>Pending Orders for <%= @merchant_employee.merchant.name %></h3>

<% @merchant_employee.merchant.item_orders.pending_orders.each do |order| %>

  <p>
    ID: <%=link_to order.id, "/merchant/orders/#{order.id}" %><br>
    Date: <%= order.created_at %><br>
    Quantity of Merchant Items: <%= Order.find(order.id).merchant_items(@merchant_employee.merchant).sum(:quantity) %><br>
    Total Value of Merchant Items: <%= Order.find(order.id).merchant_items(@merchant_employee.merchant).all_subtotal  %><br>
  </p>
<% end %>
