<h1>All Orders in System</h1>
  <% @orders.sort_by_status.each do |order| %>
    <section id="order-<%=order.id%>">
      <h3>Order #<%= order.id %></h3>
      <p>Customer: <%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %></p>
      <p>Order placed on: <%= order.created_at %></p>
      <p>Order status: <%= order.status %></p>
    </section>
  <% end %>
