<h2>Street Address: <%= @user.address %></h2>
<h2>City: <%= @user.city %></h2>
<h2>State: <%= @user.state %></h2>
<h2>ZIP Code: <%= @user.zip %></h2>
<h2>Email Address: <%= @user.email %></h2>

<!-- to implement in admin/users/show.html.erb and users/show.html.erb-->
