<h1>Profile Page</h1>
<h2>Name: <%= @user.name %></h2>
<%= render partial: '/partials/user_show', locals: {user: @user} %>

<%= link_to "Edit My Profile", "/profile/edit" %>
<%= link_to "Change My Password", "/profile/password/edit" %>
<%= link_to "View All Orders", "/profile/orders" %>
