<h1>List of Merchant Items</h1>

<% @merchant_employee.merchant.items.each do |item| %>
<section id="item-<%= item.id %>">
  <ul>
    <li>Name: <%= item.name %></li>
    <li>Description: <%= item.description %></li>
    <li>Price: <%= item.price %></li>
    <li>Image: <%= item.image %></li>
    <li>Status?
      <% if item.active? %>
        <%= "Active" %><br>
        <%= link_to "Deactivate", "/merchant/items/#{item.id}/toggle_active", method: :patch %>
      <% else %>
        <%= "Not active" %>
        <%= link_to "Activate", "/merchant/items/#{item.id}/toggle_active", method: :patch %>
      <% end %></li>
    <li>Inventory Count: <%= item.inventory %></li>
    <% if item.item_orders.empty? %>
     <%= link_to "Delete", "/merchant/items/#{item.id}", method: :delete %>
    <% end %>
  </ul>
  </section>

  <%= link_to "Add Item", "/merchant/items/new", method: :get %>
<% end %>
