<% if @merchant %>
  <h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}"%><span> Items</span></h1>
  <p align="center"><%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new" %></p>
<% else %>
  <h1>All Items</h1>
<% end %>
<section class="grid-container">
  <% @items.each do |item| %>
    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
      <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
      <a href="/items/<%=item.id%>" id="<%=item.id%>">
        <img  src= <%= item.image %>>
      </a>
      <p> <%= item.description unless @merchant%> </p>
      <p>Price: <%=number_to_currency(item.price) %> </p>
      <p>Inventory: <%= item.inventory %> </p>
      <% if !@merchant %>
      <% end %>
      <% if item.active? %>
        <p>Active</p>
      <% else %>
        <p>Inactive</p>
      <% end %>
    </section>
    <% end %>
</section>

<section class="most_popular">
<table style="width:30%">
  <tr>
    <th>Most Popular Items</th>
    <th>Quantity Sold</th>
  </tr>
  <% @items.most_popular_list.each do |popular_item|%>
    <tr>
      <td><%= popular_item.name %></td>
      <td><%= popular_item.total_sold %></td>
    </tr>
  <% end %>
</table>
</section>

<section class="least_popular">
  <table style="width:30%">
    <tr>
      <th>Least Popular Items</th>
      <th>Quantity Sold</th>
    </tr>
    <% @items.least_popular_list.each do |popular_item|%>
      <tr>
        <td><%= popular_item.name %></td>
        <td><%= popular_item.total_sold %></td>
      </tr>
    <% end %>
  </table>
  </section>
