<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "Home", "/" %>
      <%= link_to "All Merchants", "/merchants" %>
      <%= link_to "All Items", "/items" %>
      <% if current_user.regular? %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Log Out", "/logout", method: :delete %>
        <%= "Logged in as #{current_user.name}" %>
      <% elsif current_user.merchant_employee? %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "My Dashboard", "/merchant/dashboard" %>
        <%= link_to "Log Out", "/logout", method: :delete %>
        <%= "Logged in as #{current_user.name}" %>
      <% elsif current_user.admin? %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "My Dashboard", "/admin/dashboard" %>
        <%= link_to "All Users", "/admin/users" %>
        <%= link_to "Log Out", "/logout", method: :delete%>
        <%= "Logged in as #{current_user.name}" %>
      <% else %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "Log In", "/login" %>
        <%= link_to "Register", "/register" %>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
